#office-setup {
  min-height: 100vh;
}

#office-setup header {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  background: url('../../../assets/images/office-main-bg.jpeg') no-repeat center;
  background-size: cover;
  position: relative;
}

#office-setup .header-wrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.office-setup--container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 135px;
  gap: 20px;
}

#office-setup hr {
  background: var(--secondary-color);
  border: none;
  outline: none;
  margin: 8px 0;
}

.office-setup--container hr {
  height: 1px;
  width: 64px;
}

.office-setup--container p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
  max-width: 600px;
  text-align: center;
}

#office-setup .office-setup--section {
  padding: 80px 0;
}

.office-setup--info-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

#office-setup--info .column {
  padding-right: 80px;
}

#office-setup--info .column h6 {
  margin-bottom: 36px;
}

#office-setup--info .column hr {
  width: 48px;
  height: 2px;
}

#office-setup--info .column p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
  color: #8b8698;
  margin: 38px 0;
}

#office-setup--info .column a {
  font-family: 'Inter', sans-serif;
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0 26px 4px 0;
}

#office-setup--info .column a:hover {
  border-color: var(--primary-color);
}

#office-setup--releases {
  padding-bottom: 10px !important;
}

#office-setup--releases #head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

#office-setup--releases #head h3 {
  font-size: 32px;
}

#office-setup a {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  padding-bottom: 4px;
}

#office-setup--releases #head a {
  border-bottom: 1px solid #dfdee3;
}

#office-setup a:hover {
  border-color: var(--primary-color) !important;
}

#office-setup svg {
  width: 15px;
  height: 15px;
  margin-left: 14px;
}

#office-setup .showcase-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}

#office-setup .showcase-head hr {
  width: 48px;
  height: 2px;
}

#office-setup .showcase-body--main-setup img {
  margin-bottom: 36px;
}

#office-setup .showcase-body--main-setup h6 {
  margin-bottom: 24px;
}

#office-setup .showcase-body a {
  border-bottom: 1px solid var(--secondary-color);
}

#office-setup .showcase-body--main-setup__details {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  padding-bottom: 64px;
  margin-bottom: 60px;
}

#office-setup .showcase-body--main-setup__details .column:first-child {
  padding-right: 80px;
}

#office-setup .showcase-body--main-setup__details h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 26px;
}

#office-setup .showcase-body--main-setup__details hr {
  width: 48px;
  height: 2px;
}

#office-setup .showcase-body--main-setup__details p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
  color: #8b8698;
  margin-bottom: 30px;
}

#office-setup .showcase-body--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  row-gap: 85px;
}

#office-setup .showcase-body--grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#office-setup .showcase-body--grid-item h4 {
  font-size: 24px;
  font-weight: 500;
}

#office-setup .showcase-body--grid-item p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
  color: #8b8698;
  margin-bottom: 1em;
}
