.navigation {
  display: flex;
  align-items: center;
  padding: 1.7rem 35px;
  border-bottom: 1px solid;
  font-family: 'Inter', sans-serif;
}

.navigation-light {
  color: #f8f8f8;
  border-bottom-color: rgba(255, 255, 255, 0.08);
}

.navigation-dark {
  color: #8b8698;
  border-bottom-color: #eaeaea;
}

.nav-logo {
  margin-right: 4.3rem;
}

.nav-list {
  display: inline-flex;
  align-items: center;
  gap: 1.8rem;
}

.nav-list:last-child {
  margin-left: auto;
}

.nav-item {
  font-weight: 300;
  font-size: 15px;
}

.nav-search {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.nav-search input {
  font-size: 16px;
  padding: 10.5px 8px;
  border-radius: 2px;
  margin-right: 6px;
  font-weight: 300;
  outline: none;
}

.navigation-light input {
  color: var(--primary-color);
  background-color: #f8f8f8;
  border: none;
}

.navigation-dark input {
  background-color: transparent;
  border: 1px solid #ddd;
}

.nav-search input::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.nav-search button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.nav-search button:hover {
  background-color: bisque;
}

.nav-shopping {
  color: var(--secondary-color);
  background-color: transparent;
  font-size: 19px;
  position: relative;
  cursor: pointer;
}

.nav-shopping-items {
  display: grid;
  place-items: center;
  position: absolute;
  right: -14px;
  top: -14px;
  font-size: 11px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-weight: 500;
}

.nav-user {
  color: var(--primary-color);
  font-size: 18px;
}

.nav-toggle {
  display: none;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 6px 8px;
  border: none;
}

.nav-toggle:active {
  transform: scale(0.98);
}

@media screen and (max-width: 1105px) {
  .nav-item,
  .nav-search,
  .nav-user {
    display: none;
  }
  .nav-toggle {
    display: inline-flex;
  }
  .nav-shopping i {
    padding-top: 5px;
  }
  .nav-shopping-items {
    top: -11px;
  }
}

@media screen and (max-width: 544px) {
  .navigation {
    padding: 1.2rem 20px;
  }
  .nav-logo img {
    width: 160px;
  }
}
